@font-face {
    font-family: 'GT Walsheim Pro';
    src: url('fonts/GTWalsheimPro-Light.eot');
    src: local('GT Walsheim Pro Light'), local('GTWalsheimPro-Light'),
        url('fonts/GTWalsheimPro-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/GTWalsheimPro-Light.woff2') format('woff2'),
        url('fonts/GTWalsheimPro-Light.woff') format('woff'),
        url('fonts/GTWalsheimPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'GT Walsheim Pro';
    src: url('fonts/GTWalsheimPro-Regular.eot');
    src: local('GT Walsheim Pro Regular'), local('GTWalsheimPro-Regular'),
        url('fonts/GTWalsheimPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/GTWalsheimPro-Regular.woff2') format('woff2'),
        url('fonts/GTWalsheimPro-Regular.woff') format('woff'),
        url('fonts/GTWalsheimPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GT Walsheim Pro';
    src: url('fonts/GTWalsheimPro-ThinOblique.eot');
    src: local('GT Walsheim Pro Thin Oblique'), local('GTWalsheimPro-ThinOblique'),
        url('fonts/GTWalsheimPro-ThinOblique.eot?#iefix') format('embedded-opentype'),
        url('fonts/GTWalsheimPro-ThinOblique.woff2') format('woff2'),
        url('fonts/GTWalsheimPro-ThinOblique.woff') format('woff'),
        url('fonts/GTWalsheimPro-ThinOblique.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'GT Walsheim Pro';
    src: url('fonts/GTWalsheimPro-Thin.eot');
    src: local('GT Walsheim Pro Thin'), local('GTWalsheimPro-Thin'),
        url('fonts/GTWalsheimPro-Thin.eot?#iefix') format('embedded-opentype'),
        url('fonts/GTWalsheimPro-Thin.woff2') format('woff2'),
        url('fonts/GTWalsheimPro-Thin.woff') format('woff'),
        url('fonts/GTWalsheimPro-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'GT Walsheim Pro';
    src: url('fonts/GTWalsheimPro-BoldOblique.eot');
    src: local('GT Walsheim Pro Bold Oblique'), local('GTWalsheimPro-BoldOblique'),
        url('fonts/GTWalsheimPro-BoldOblique.eot?#iefix') format('embedded-opentype'),
        url('fonts/GTWalsheimPro-BoldOblique.woff2') format('woff2'),
        url('fonts/GTWalsheimPro-BoldOblique.woff') format('woff'),
        url('fonts/GTWalsheimPro-BoldOblique.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'GT Walsheim Pro';
    src: url('fonts/GTWalsheimPro-MediumOblique.eot');
    src: local('GT Walsheim Pro Medium Oblique'), local('GTWalsheimPro-MediumOblique'),
        url('fonts/GTWalsheimPro-MediumOblique.eot?#iefix') format('embedded-opentype'),
        url('fonts/GTWalsheimPro-MediumOblique.woff2') format('woff2'),
        url('fonts/GTWalsheimPro-MediumOblique.woff') format('woff'),
        url('fonts/GTWalsheimPro-MediumOblique.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'GT Walsheim Pro';
    src: url('fonts/GTWalsheimPro-Bold.eot');
    src: local('GT Walsheim Pro Bold'), local('GTWalsheimPro-Bold'),
        url('fonts/GTWalsheimPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/GTWalsheimPro-Bold.woff2') format('woff2'),
        url('fonts/GTWalsheimPro-Bold.woff') format('woff'),
        url('fonts/GTWalsheimPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'GT Walsheim Pro';
    src: url('fonts/GTWalsheimPro-Medium.eot');
    src: local('GT Walsheim Pro Medium'), local('GTWalsheimPro-Medium'),
        url('fonts/GTWalsheimPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/GTWalsheimPro-Medium.woff2') format('woff2'),
        url('fonts/GTWalsheimPro-Medium.woff') format('woff'),
        url('fonts/GTWalsheimPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'GT Walsheim Pro';
    src: url('fonts/GTWalsheimPro-RegularOblique.eot');
    src: local('GT Walsheim Pro Regular Oblique'), local('GTWalsheimPro-RegularOblique'),
        url('fonts/GTWalsheimPro-RegularOblique.eot?#iefix') format('embedded-opentype'),
        url('fonts/GTWalsheimPro-RegularOblique.woff2') format('woff2'),
        url('fonts/GTWalsheimPro-RegularOblique.woff') format('woff'),
        url('fonts/GTWalsheimPro-RegularOblique.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'GT Walsheim Pro';
    src: url('fonts/GTWalsheimPro-LightOblique.eot');
    src: local('GT Walsheim Pro Light Oblique'), local('GTWalsheimPro-LightOblique'),
        url('fonts/GTWalsheimPro-LightOblique.eot?#iefix') format('embedded-opentype'),
        url('fonts/GTWalsheimPro-LightOblique.woff2') format('woff2'),
        url('fonts/GTWalsheimPro-LightOblique.woff') format('woff'),
        url('fonts/GTWalsheimPro-LightOblique.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'GT Walsheim Pro';
    src: url('fonts/GTWalsheimPro-BlackOblique.eot');
    src: local('GT Walsheim Pro Black Oblique'), local('GTWalsheimPro-BlackOblique'),
        url('fonts/GTWalsheimPro-BlackOblique.eot?#iefix') format('embedded-opentype'),
        url('fonts/GTWalsheimPro-BlackOblique.woff2') format('woff2'),
        url('fonts/GTWalsheimPro-BlackOblique.woff') format('woff'),
        url('fonts/GTWalsheimPro-BlackOblique.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'GT Walsheim Pro';
    src: url('fonts/GTWalsheimPro-Black.eot');
    src: local('GT Walsheim Pro Black'), local('GTWalsheimPro-Black'),
        url('fonts/GTWalsheimPro-Black.eot?#iefix') format('embedded-opentype'),
        url('fonts/GTWalsheimPro-Black.woff2') format('woff2'),
        url('fonts/GTWalsheimPro-Black.woff') format('woff'),
        url('fonts/GTWalsheimPro-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////////////////////////////////*/

*{
    font-family: 'GT Walsheim Pro', Helvetica, sans-serif;
    color: black;
}



html, body{
    position: relative;
    height: 100%;
    width: 100%;
}

html{
    background-color: white;
}

body{
    max-width: 1920px;
    margin: 0 auto;
    padding-top: 100px;
}

a{
    text-decoration: none;
}

div.container{
    max-width: 1180px;
    margin: 0 auto;
    position: relative;
}

h1, h2, h3, a{
    font-weight: 500;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////*/

header{
    height: 110px;
    width: 100%;
    max-width: 1920px;
    position: fixed;
    background: white;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    transition: .3s ease-in-out;
}

header.scrolling{
    height: 70px;
    box-shadow: 0 2px 3px rgb(0 0 0 / 5%);
}

header nav.main{
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    transition: .3s ease-in-out;
}

header.scrolling nav.main{
    height: 70px;
}

header nav.main a.logo{
    font-size: 26px;
}

header nav.main a{
    position: relative;
}

header nav.main div.contain-menu a:not(:last-child){
    margin-right: 10px;
}

header nav.main div.contain-links a{
    margin-right: 10px;
}

header nav.main div.contain-links a:hover{
    border-bottom: 2px solid black;
}

header nav.main div.contain-links a span.cart{
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    top: -10px;
    right: -20px;
    background: black;
    color: white;
    font-size: 10px;
    border-radius: 100%;
    text-align: center;
    line-height: 2;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////*/

section#main{
    padding: 20px 0 40px 0;
}

section#main div.container h1{
    font-size: 48px;
    margin-bottom: 80px;
}

section#main div.container div.content{
    border: 2px solid black;
    padding: 60px 40px;
    position: relative;
    background: white;
    margin-bottom: 50px;
}

section#main div.container div.content:after{
    content:'';
    display: block;
    position: absolute;
    top: 5px;
    right: -10px;
    border: 2px solid black;
    min-height: 100%;
    min-width: 100%;
    z-index: -1;
}

section#main div.container div.content img{
    width: 100%;
    height: auto;
    max-height: 500px;
    object-fit: cover;
    border-radius: 15px;
    margin: 10px 0;
}

section#main div.container div.content img:last-child{
    object-position: top;
}

section#main div.container div.content p{
    line-height: 1.5;
    margin-bottom: 40px;
}

section#main div.container div.content p a:hover{
    border-bottom: 2px solid black;
}

section#main div.container div.content a.btn{
    padding: 15px 25px;
    border-radius: 30px;
    background-color: black;
    color: white;
    display: inline-block;
    margin-bottom: 40px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////*/

section#pictos{
    background-color: #fbc386;
    padding: 20px 0;
}

section#pictos div.container{
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
}

section#pictos div.container div.col{
    padding: 20px 40px;
    text-align: center;
}

section#pictos div.container div.col p.txt{
    font-weight: 500;
}

section#pictos div.container div.col span.icon{
    width: 32px;
    height: 32px;
    display: block;
    margin: 0 auto 20px auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

section#pictos div.container div.col:nth-child(1) span.icon{
    background-image: url(img/livraison-offerte-protections-periodiques.webp)
}

section#pictos div.container div.col:nth-child(2) span.icon{
    background-image: url(img/paiement-securise.webp)
}

section#pictos div.container div.col:nth-child(3) span.icon{
    background-image: url(img/satisfaction-client.webp)
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////*/

footer{
    background-color: #fdb770;
    padding: 60px 0 40px 0;
}

footer a span:hover{
    border-bottom: 2px solid black;
}

footer div.up{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    padding-right: 40px;
}

footer div.up a.logo{
    font-size: 36px;
}

footer div.up a.logo:hover{
    border-bottom: inherit;
}

footer div.up div.col{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 250px;
}

footer div.up div.col:not(:last-child){
    margin-right: 40px;
}

footer div.up div.col:first-child{
    min-width: 300px;
}

footer div.up div.col a{
    line-height: 1.5;
    font-weight: 400;
}

footer div.up div.col a:not(:last-child){
    margin-bottom: 8px;
}

footer div.up div.col a.instagram{
    position: relative;
    margin-left: 30px;
}

footer div.up div.col a.instagram:before{
    content:'';
    display: block;
    width: 20px;
    height: 20px;
    background: url(img/instagram.webp);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    left: -30px;
    top: 2px;
    position: absolute;
}

footer div.up div.col a.facebook{
    position: relative;
    margin-left: 30px;
}

footer div.up div.col a.facebook:before{
    content:'';
    display: block;
    width: 20px;
    height: 20px;
    background: url(img/facebook.webp);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    left: -30px;
    top: 2px;
    position: absolute;
}

footer div.up div.col a.linkedin{
    position: relative;
    margin-left: 30px;
}

footer div.up div.col a.linkedin:before{
    content:'';
    display: block;
    width: 20px;
    height: 20px;
    background: url(img/linkedin.webp);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    left: -30px;
    top: 2px;
    position: absolute;
}

footer div.up div.col span.first{
    font-weight: 500;
    margin-bottom: 20px;
}

footer div.down{
    display: flex;
    margin-top: 20px;
}

footer div.down a{
    opacity: .5;
}

footer div.down a:not(:last-child){
    margin-right: 10px;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////*/

@media screen and (max-width: 1000px) {
    header, footer{
        display: none;
    }
    section#main{
        padding-right: 40px;
        padding-left: 40px;
    }
}